/*-------------
     RESET
-----------*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#items{
    position: relative;
    width:700px;
    height:300px;
    
}
.item.active {
    display: block;
}
.item {
    width: 700px;
    
    display: none;
}
.prev{
    position: absolute;
    width:20px;
    height:20px;
    border-radius: 50%;
    top:0;
    left:50%;
    background-color: aliceblue;
    transform: translate(-50%);
   
}
.next{
    position: absolute;
    width:20px;
    height:20px;
    border-radius: 50%;
    bottom:-88px;
    left:50%;
    background-color: aliceblue;
    transform: translate(-50%);
    line-height: 20px;
   
}
i{
    padding:2px;
}
.item img{
    width:100%;
    height:100%;
    object-fit: cover;
}
